---
import Songs from '../components/Songs.jsx';
import '/src/styles/global.css'
import 'aos/dist/aos.css';
---
<script src="https://kit.fontawesome.com/1f814a61ce.js" crossorigin="anonymous"></script>
<!-- RETURN OF THE GREEN CANTEN -->
<body class="min-h-screen">
    <main class="min-h-screen">
        <section id="player" class="w-full min-h-screen flex flex-col items-center justify-center">
            <Songs 
            client:load
            />
        </section>
    </main>
</body>