<div class="flex justify-center gap-5 btn-main">
    <a href="/player"
    class="group flex gap-1 items-center p-2 border border-transparent text-md font-bold rounded-3xl shadow-sm transition duration-150 ease-in-out cursor-pointer bg-white/30 backdrop-blur-[2px]"
    >
        <span class="bg-gradient-to-r from-amber-500 to-fuchsia-600 bg-clip-text text-transparent">
            CHECK IT OUT
        </span>
        <svg
            class="w-6 h-6 text-fuchsia-800 transition-transform duration-300 rotate-[-45deg] group-hover:translate-x-[2px] group-hover:-translate-y-[2px]"
            data-slot="icon"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
            clip-rule="evenodd"
            d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
            fill-rule="evenodd"
            ></path>
        </svg>
    </a>

    <a href="/player"
    class="group flex gap-1 items-center p-2 border border-transparent text-md font-bold rounded-3xl shadow-sm transition duration-150 ease-in-out cursor-pointer bg-white/30 backdrop-blur-[2px]"
    >
        <span class="bg-gradient-to-r from-amber-500 to-fuchsia-600 bg-clip-text text-transparent">
            PLAYER
        </span>
        <i class="fa-solid fa-paper-plane text-fuchsia-900 duration-300 group-hover:translate-x-[2px] group-hover:-translate-y-[2px]"></i>
    </a>
</div>