<footer class="w-full flex justify-center">
    <div class="flex gap-5 bg-white/30 backdrop-blur-[2px] p-2 px-4 pt-2 rounded-[30px] items-center">
        <a href="https://open.spotify.com/album/0KJc9ksnoJJsdpQxV3z5i1" target="_blank">
            <i class="fa-brands fa-spotify fa-3x" style="--fa-animation-duration: 3s; --fa-animation-iteration-count: 5;--fa-animation-timing: ease-in-out;"></i>
        </a>
        <a href="https://music.apple.com/us/album/1640116126?ls=1&amp;app=music&amp;at=1010lKm9" target="_blank">
            <i class="fa-brands fa-apple" style="--fa-animation-duration: 3s; --fa-animation-iteration-count: 5;--fa-animation-timing: ease-in-out;"></i>
        </a>
        <a href="https://www.youtube.com/playlist?list=PLT6HAUPSMbBEKMCUy5ds2_Vt8BYqPBkou" target="_blank">
            <i class="fa-brands fa-youtube" style="--fa-animation-duration: 3s; --fa-animation-iteration-count: 5;--fa-animation-timing: ease-in-out;"></i>
        </a>
        <a href="#">
            <i class="fa-brands fa-soundcloud"></i>
        </a>
        <a href="http://amazon.com/dp/B0B9T8J3WS" target="_blank">
            <i class="fa-brands fa-amazon" style="--fa-animation-duration: 3s; --fa-animation-iteration-count: 5;--fa-animation-timing: ease-in-out;"></i>
        </a>
        <a href="https://www.deezer.com/us/album/359903317" target="_blank">
            <i class="fa-brands fa-deezer" style="--fa-animation-duration: 3s; --fa-animation-iteration-count: 5;--fa-animation-timing: ease-in-out;"></i>
        </a>
    </div>
</footer>
<style>
    i{
        font-size: 30px;
        background: #FF8604;
background: linear-gradient(to bottom right, #FF8604 33%, #D000FF 74%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

    }
</style>